@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

html {
  scroll-behavior: smooth !important;
}

@layer base{
  body {
    @apply bg-[#212121] font-sans;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1{
    @apply text-4xl sm:text-5xl md:text-[90px]
  }

  h2{
    @apply text-3xl sm:text-4xl
  }

  h3{
    @apply text-2xl sm:text-3xl
  }
}
